:root {
  --primary-color: #141b41;
  /*space cadet*/
  --secondary-color: #306bac;
  /*green blue */
  --accent1-color: #6f9ceb;
  /*cornflower blue */
  --accent2-color: #98b9f2;
  /*jordy blue */
  --heading-font: "Merriweather", serif;
  --body-font: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--primary-color);
  color: var(--accent2-color);
}

header img {
  justify-self: center;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

header nav a {
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
}



body {
  font-family: var(--body-font);
  color: var(--accent1-color);
  font-weight: 400;
}

header,
main,
footer {
  width: 800px;
  margin: 0 auto;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  font-weight: 800;
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}



.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  top: 30px;
  /* left: 36px; */
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: var(--accent1-color);
  /* color: #fff; */
  opacity: 0.8;
}

.hero article img {
  float: right;
  width: 125px;
  height: auto;
}

.hero article {
  position: absolute;
  top: 110px;
  right: 40px;
  padding: 16px;
  background-color: var(--primary-color);
  /* color: #fff; */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 700px;
  opacity: 0.9;
}

section.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

section.section1 h2 {
  /* justify-content: center;
  align-items: center; */
  position: absolute;
  top: 0;
}

.section1 img {
  width: 220px;
  height: auto;
  align-items: center;
  justify-self: center;
}

section.section2 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, 2fr);
  /* align-items: center;
  justify-content: space-between; */
}

section.section2 h2 {
  position: absolute;
  top: -2rem;
  left: 15rem;
}

section.section2 img {
  width: 120px;
  height: auto;
}

footer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

footer nav.socialmedia {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.socialmedia a {
  text-decoration: none;
}

figure {
  overflow: hidden;
  text-align: center;
}